/* UTILS */

.debug > *{
    border: 1px dashed black;
}

.my-border{
    border: 1px dashed black;
}

header{
    background-color: #2C3E50;
    height: 60px;
}

.block-center{
    text-align: center;
}

/* PALETTE */

.bgc-green{
    background-color: #2DBC9C;
}

/* MY PADDING */

.PP-pl-sm-30{
    padding-left: 30px;
}

.PP-pr-sm-30{
    padding-right: 30px;
}

.PP-p-30{
    padding: 30px;
}

/* FONT SIZE */

/* Font size per l'ul nell'header */

.font-size-15{
    font-size: 15px;
}

.font-size-10{
    font-size: 10px;
}

/* 
BOOTSTRAP USA IL MARGIN-BOTTOM
LO ABBIAMO ELIMINATO COSI 
*/

ul{
    margin-bottom: 0;
}

/* Altezza fissa per le cards */

/**************************
    DA ELIMINARE
***************************/

.my-h-30{
    height: 30px;
}

.my-h-300{
    height: 300px;
}

.btn.btn-primary.download-btn{
    font-size: 10px;

    background-color: #2DBC9C;
    border-color: white;
}



